@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 1rem; /* Alterado de 14px para 1rem */
  font-weight: 400;
}

.headerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 2vh;
  margin-top: 20vh;
}

.title {
  display: block;
  margin: 0 auto;
  font-size: 1.5vw;
  font-weight: 600;
  padding-bottom: 2vh;
  gap: 5px;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  max-width: 20vw;
  margin: 0 auto;
}

.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding-top: 1vh;
  width: 100%;
  max-width: 20vw;
  margin: 0 auto;
}

.createAccount {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  row-gap: 1vh;
  width: 100%;
  max-width: 20vw;
  margin: 0 auto;
}

.firstName {
  border: 1px solid;
  border-color: #FFF8E8;
  padding: 1vh;
  min-width: 100%;
  border-radius: 6px;
  font-size: 1rem;
}

.lastName {
  border: 1px solid;
  border-color: #FFF8E8;
  padding: 1vh;
  min-width: 100%;
  border-radius: 6px;
  font-size: 1rem;
}

.email {
  display: flex;
  align-items: center;
  align-content: baseline;
  justify-content: center;
  border: 1px solid;
  border-color: #E8E9EA;
  gap: 1vh;
  min-width: 100%;
  padding: 1vh;
  border-radius: 6px;
  font-size: 1rem;
}

.passwordSection {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-width: 20vw;
  column-gap: 0.2vw;
}

.passwordContainer {
  flex: 1;
}

.password {
  border: 1px solid #E8E9EA;
  padding: 1vh;
  border-radius: 6px;
  font-size: 1rem;
  width: 100%;
  box-sizing: border-box;
}

.confirmedPasswordContainer {
  flex: 1;
}

.confirmedPassword {
  border: 1px solid #E8E9EA;
  padding: 1vh;
  border-radius: 6px;
  font-size: 1rem;
  width: 100%;
  box-sizing: border-box;
}

.button {
  margin-top: 2vh;
  border: 1px solid;
  border-color: #E8E9EA;
  gap: 1vh;
  padding: 1vh;
  min-width: 100%;
  border-radius: 6px;
  font-size: 1.2rem;
  font-weight: 600;
  background-color: #f59300;
  color: #FFFFFF;
  cursor: pointer;
}

.switchContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.switchBtn {
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 600;
  font-weight: 500;
  border: 1px solid;
  border-color: #E8E9EA;
  padding: 1vh;
  max-width: 20vw;
  width: 100%;
  border-radius: 6px;
  background-color: #00ad17;
  color: #FFFFFF;
  cursor: pointer;
}
