.drawSection{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  column-gap: 5%;
}

/* Estilos gerais da tabela */

.randomTable {
  width: 30%;
  border-collapse: collapse;
  min-height: max-content;
  margin: 1%;
  overflow-x: auto; /* Garante que a tabela seja rolável em telas menores */
}

.randomTableHead {
  background-color: #b65903;
  color: #fff;
  font-size: 0.9rem;
  text-align: center;
  border: none;
  border-radius: 5px;
  min-width: 140px;
}
.randomTableBody {
  font-size: 0.9rem;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 8px;
  min-width: 140px;
  background-color: #f9f9f9;
  
}

.drawBtn {
  background-color: #b65903;
  color: white;
  border: none;
  padding: 1%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}

.searchContainer{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

.searchContent{
  display: flex;
  flex-direction: column;
  width:fit-content;
  max-width: 10vw;
  margin: 1%;
  row-gap: 10px;
}

.poster {
  width: fit-content;
  max-width: 10vw;
  height: auto;
  min-height: 15vw;
  border-radius: 8px;
}

.title {
    font-size: clamp(0.8rem, 2.5vw, 1rem);
    font-weight: bold;
    padding-top: 5px;
    text-align: center;
    width: 100%;
    max-width: 10vw;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}