    @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&display=swap');

    body {
        font-family: "Poppins", sans-serif;
        background-color: #FFF8E8;   
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        text-decoration: none;
        font-family: "Poppins", sans-serif;
        font-size: 1rem;
        font-weight: 400;
    }

    .mainContainer{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        gap: 30px;
        padding-top: 5vh;
        background-color: #FFF8E8;
    }

    .mainContent{
        display: flex;  
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline
    }

    .mainTitleContent{
        font-size: 1.3rem;
        font-weight: bold;
        color: #333;
        padding: 0 0 0 1.5vw;
        
    }

    .tvShowCategory {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 20px;
        padding: 0.5vw 0 2vw 1.5vw;
        border-bottom: 3px solid #b65903;
    }

    .tvShowContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .tvShowContainer:hover

    .tvShowImg:hover {
        transform: scale(1.05);
    }

    .img {
        width: 14vw;
        height: auto;
        min-height: 300px;
        object-fit: cover;
        border-radius: 12px;
        transition: transform 0.3s ease-in-out;
    }

    .tvShowContainer:hover .img {
        transform: scale(1.05);
    }

    .title {
        font-size: 1rem;
        font-weight: bold;
        color: #333;
        padding-top: 5px;
        text-align: center;
        width: 200px;
        max-width: 100%;
    }

    .pageContainer{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        column-gap: 1vh;
    }

    .pageTitle{
        font-size: 18px;
        font-weight: 500;
    }

    .pageBtnContainer{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        column-gap: 0.5vh;
    }

    .pageBtn{
        padding: 10px 15px;
        font-size: 1rem;
        background-color: #b65903;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .pageBtn:hover {
        background-color: #e98528;
    }