@import url('https://fonts.googleapis.com/css2?family=Matemasie&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&display=swap');

body{
    font-family: "Roboto Slab", system-ui;
    font-optical-sizing: auto;
    background-color: #FFF8E8;
}

.tvShowDetails, .tvShowCast{
    margin-left: 15%;
    margin-right: 15%;
}

.showDetails{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    position: relative;
    background-size: cover;
    background-position: center;
    min-height: 100%;
    color: #fff;
    backdrop-filter: blur(10px);

}

.showDetails::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6) ;
    z-index: -1
}

.showImg{
    display: flex;
    justify-content: center;
    margin-left: 1,5vh;
}

.posterImg{
    height: 65vh;
    width: 40vh;
    border-radius: 7%;
}

.title{
    font-size: 1.8rem;
    font-weight: 600;
    padding-bottom: 1%;
    padding-left: 2.5%;
}

.overview, .genres, .first_air_date, .sbPopularity, .number_of_seasons, .number_of_episodes, .episode_number, .sbVote_count{
    font-size: 0.9rem;
    padding-bottom: 2%;
    padding-left: 5%;
}

.statisticBoxContainer{
    display: flex;
    margin-bottom: 2%;
    margin-left: 5%;
    column-gap: 1.5vh;
}

.statisticBox{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.7vh;
    border-radius: 10%;
    border: 1px solid;
    max-width: fit-content;
    width: 100%;
    height: fit-content;
    background-color: #f59300;
    color: #fff
}

.sBvote_average{
    font-size: 1.5rem;
    padding: 8px;
    border-radius: 20%;
    border: 1px solid;
    max-width: fit-content;
    width: 100%;
    height: fit-content;
    background-color: rgb(3, 179, 3);
    color: #fff
}

.statisticBoxTitle{
    font-size: 0.6rem;
    font-weight: 600;
}

.sbPopularity{
    font-size: 1.1rem;
    font-weight: 600;
}

.sbVote_count{
    font-size: 1.1rem;
    font-weight: 600;
}

.showVideo{
    padding: 0 10vh 0 10vh;
    align-self: baseline;
}

.video{
    display: flex;
    width:65vh;
    height:40vh;
    border-radius: 2%;
}

.pageBtnContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 0.5vh;
    margin: 0 3vh 0 3vh;
}

.castTitle, .seasonDetailsTitle{
    font-size: 1.3rem;
    font-weight: bold;
    padding: 3vh 0 3vh 0;
}

.castCategory{
    display: flex;
    flex-direction: row;
    column-gap: 0.5vh;
    align-items: baseline;
    align-content: center;
    column-gap: 2vh;
    padding: 0 0 2vh 3vh;
}

.castConfig{
    display: flex;
    flex-direction: column;
    align-content: center;
    min-height: 5vh;

}

.castImg{
    height: 27.5vh;
    width: 100%;
    max-width: 20vh;
    border-radius: 7%;
}

.castName{
    font-size: 14px;
    font-weight: bold;
    max-width: 18.2vh;
}

.castCharacter{
    font-size: 13px;
    max-width: 18.2vh;
}

.seasonDropdown{
    padding: 10px 15px;
    margin: 0 0 2vh 0;
    font-size: 1rem;
    background-color: #a3a3a3;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.seasonDetails{
    margin: 0 0 1vh 2vh;
}
.seasonDropdown:hover {
    background-color: #e98528;
}

.epContainer{
    display: flex;
    flex-direction: row;
    column-gap: 1vh;
    border-bottom: 1px solid;
    border-color: #e98528;
    margin-bottom: 1vh;
    width: 100vh;
}

.epImgContainer{
    display: flex;
    margin: 0 0 1vh 0;
}

.epImg{
        display: flex;
        width:40vh;
        height:100%;
        max-height:40vh;
        border-radius: 2%;
}

.epTitle{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 0.8vh;
}

.epInfo{
    font-size: 16px;
}
